@import 'swiper/css';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evita scroll horizontal no deseado en toda la app */
body {
  overflow-x: hidden;
}

/* ------------------------------------------- */
/* --- ESTILOS ADICIONALES PARA SWIPER --- */
/* ------------------------------------------- */

/* Estilos para la paginación de Swiper (versión corregida) */
.swiper-pagination-bullet {
  background: #ccc !important; /* Color de los puntos inactivos */
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important; /* Color del punto activo, equivalente a teal-700 en Tailwind */
  opacity: 1;
}